{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="visualization">
    <div class="container">
        <br/>
        <br/>
        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="six columns well">One</div>
            <div class="six columns well">Six</div>
        </div>

        <div class="row">
            <div class="six columns well">One</div>
            <div class="six columns well">Six</div>
        </div>

        <div class="row">
            <div class="six columns well">One</div>
            <div class="six columns well">Six</div>
        </div>

        <div class="row">
            <div class="twelve columns well">One</div>
        </div>



    </div>
</div>

{% endblock %}
