

/* CODE FOR GOOGLE MAP */

.google_map_container  {
/*  border: 1px solid black;*/
  --width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  
  z-index: 99;
}

#google_map_container {
  width: var(--width);
}

.google_map {
/*  border: 1px solid black;*/
  width: 100%;
  height: 50%;
}

.google_map_button {
  float : left;
}

/* END CODE FOR GOOGLE MAP */



/* TOOL TIP */
.geoToolTip {
  width: 100%;
  margin: 0;
  padding-top: 5;
  position: relative;
}






.google_map_buttons {
  float: left;
}



#filter_apply_button_div {
  position: relative;
  display: inline;
  float: right;
  top: -38px;
  right: 5%;
}

#dropdown_1_div {
  position: relative;
  top: -20px;
  left: 15%;
}



#filter_background_svg {
  z-index: -1;
  position: inline;
  height: 100%;
  width: 100%;
}


.filter_area_svg {
  
  width: 80%;
}

.google_infobox {
  float: right;
}
