

/* CODE FOR GOOGLE MAP */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*.google_map, ,  {*/
.google_map_container  {
/*  border: 1px solid black;*/
  --width: 40%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -600px;
  float: right;
  z-index: 99;
}

#google_map_container {
  width: var(--width);
}

.google_map {
/*  border: 1px solid black;*/
  width: 100%;
  height: 30%;
}

.google_map_button {
  float : left;
}

/* END CODE FOR GOOGLE MAP */



/* TOOL TIP */
.geoToolTip {
  width: 100%;
  margin: 0;
  padding-top: 5;
  position: relative;
}


.active_item {
  display: block;
}


.inactive_item {
  display: none;
}



#geoToolTipSVG {
  width: 500;
  height: 200;
}



.google_map_buttons {
  float: right;
}



#filter_apply_button_div {
  position: relative;
  display: inline;
  float: right;
  top: -38px;
  right: 5%;
}

#dropdown_1_div {
  position: relative;
  top: -20px;
  left: 15%;
}



#filter_background_svg {
  z-index: -1;
  position: inline;
}
