h1 {
  font-size: 80px;
}

body {
    font-family: sans-serif;
    font-size: 11px;
}

.zayo_logo {
  width: 200;
  padding-left: 40%;
  padding-bottom: 20;
  padding-top: 20;
}

.cu_logo {
  width: 200;
  padding-left: 40%;
  padding-bottom: 20;
  padding-top: 20;
}



.vis_wrapper {
  display: grid | inline-grid | subgrid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

.background {
  fill: none;
  background-color: whitesmoke;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}



.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  color: black;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.svg_background {
  height: 600;
  width: 100%;
  background-color: "white";
}


#vis_1_div {
  padding: 50 50 50 50;
/*
  padding-left: 50;
  padding-bottom: 50;
  padding-top: 50;
*/
}